<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="https://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="https://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>${security.getCurrentUsername()}</username>
      <password>${security.getEscapedEncryptedPassword()!"cmVmdGtuOjAxOjE3MjE1OTQ2MjM6RjlkRGV5OW9CMzlZTmFWUkhjUXI3UXYzWEdR"}</password>
      <id>central</id>
    </server>
    <server>
      <username>${security.getCurrentUsername()}</username>
      <password>${security.getEscapedEncryptedPassword()!"cmVmdGtuOjAxOjE3MjE1OTQ2MjM6RjlkRGV5OW9CMzlZTmFWUkhjUXI3UXYzWEdR"}</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>vdhar71-libs-release</name>
          <url>https://rayans.jfrog.io/artifactory/vdhar71-libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>vdhar71-libs-snapshot</name>
          <url>https://rayans.jfrog.io/artifactory/vdhar71-libs-snapshot</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>vdhar71-libs-release</name>
          <url>https://rayans.jfrog.io/artifactory/vdhar71-libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>vdhar71-libs-snapshot</name>
          <url>https://rayans.jfrog.io/artifactory/vdhar71-libs-snapshot</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>

</settings>

